@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgb(15, 15, 15);
  color: white;
}


@font-face {
  font-family: 'Matter';
  src:
    url('/fonts/Matter-Medium.woff2') format('woff2'),
    url('/fonts/Matter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Matter';
  src:
    url('/fonts/Matter-Regular.woff2') format('woff2'),
    url('/fonts/Matter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  background-color: rgb(15, 15, 15);
  @apply text-slate-100 m-8;
}

.nav--items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--items div:nth-child(1) {
  font-weight: 600;
  font-size: x-large;
}

.nav--links {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  color: #A8ACC1;
  font-weight: 500;
  font-size: large;
}

.nav--links a {
  position: relative;
  padding: 0 10px;
  text-decoration: none;
}

.nav--links a:hover {
  color: white;
}

.nav--links a::after {
  content: '';
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nav--links a:hover::after {
  width: 100%;
}

.nav--buttons {
  display: flex;
  gap: 10px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 50px;
  max-width: 1200px;
  margin: 20px auto;
}

.grid-wrapper>div {
  background: rgb(28, 26, 26);
  background: linear-gradient(117deg, rgba(28, 26, 26, 1) 0%, rgba(34, 33, 33, 1) 90%, rgba(22, 22, 22, 1) 100%);
  text-align: center;
  padding: 20px;
  color: #000;
}
  /* Card one styles */
.card1 {
  grid-column: 1/4;
  grid-row: 1/4;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.arrow{
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.center-con {
  display: flex;
  height: 75vh;
  align-items: center;
  justify-content: center;
}



.round {
  position: absolute;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer
}

#cta{
  width:100%; top: 3px; left: 3.8px; cursor: pointer; position: absolute;
}

#cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:15px;}
.segunda{margin-left: 8px;}
.next {
background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
0% {opacity: 1; transform: translateX(0px) scale(1);}
25%{opacity: 0; transform:translateX(10px) scale(0.9);}
26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.round:hover .arrow{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.round:hover .arrow.primera{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}


.card2 {
  grid-column: 4/6;
  border-radius: 70px;
}

.card3 {
  grid-column: 4/5;
  grid-row: 2/4;
  border-radius: 20px;

}

.card4 {
  grid-row: 2/4;
  border-radius: 20px;
}

.card5 {
  grid-column: 1/2;
  border-radius: 20px;
  grid-row: 4/6;
}

.card6 {
  grid-column: 2/5;
  border-radius: 20px;
  grid-row: 4/6;
}

.card7 {
  border-radius: 20px;
  grid-row: 4/6;
}

.card8 {
  grid-column: 1/3;
  border-radius: 20px;
  grid-row: 6/8;
}

.card9 {
  grid-column: 3/6;
  border-radius: 20px;
  grid-row: 6/8;
}